# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist-demo
coverage/base.css
coverage/block-navigation.js
coverage/cobertura-coverage.xml
coverage/coverage-final.json
coverage/favicon.png
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sort-arrow-sprite.png
coverage/sorter.js
coverage/core/async_value.ts.html
coverage/core/container_types.ts.html
coverage/core/container.ts.html
coverage/core/index.html
coverage/core/initializers.ts.html
coverage/core/provider.ts.html
coverage/core/ref_factory.ts.html
coverage/react/hooks.ts.html
coverage/react/index.html
coverage/react/scope.tsx.html
